@page
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Search of something</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    <div id="page">
        <h1>Searching means everything</h1>
        <form id="searchForm" method="post">
            <fieldset>
                <input id="s" type="text" />
                <input type="submit" value="Submit" id="submitButton" />
                <ul class="icons">
                    <li class="web" title="Web Search" data-searchType="web">Web</li>
                    <li class="images" title="Image Search" data-searchType="images">Images</li>
                    <li class="news" title="News Search" data-searchType="news">News</li>
                    <li class="videos" title="Video Search" data-searchType="video">Videos</li>
                </ul>

            </fieldset>
        </form>
        <div id="resultsDiv"></div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="script.js"></script>
</body>
</html>

@*<script>
    function doSearch() {
        var searchQeury = $("input.s").val();
        if (searchQeury) {
            var url = "http://localhost:61495/Search/DoSearch/" + searchQeury;

            var request = $.ajax({
                method: "POST",
                url: url,
                context: document.body,
                success: function (data) {
                    if (data) {
                        var searchResultBlock = $("div.search-results");
                        var self = this;
                        searchResultBlock.children().remove();
                        $.each(data, function (i, e) {
                            searchResultBlock.append("<div>");
                            searchResultBlock.append(e.data);
                            searchResultBlock.append("</div>");
                        });
                    }
                }
            });
        }
    }
</script>*@
</html>