@page
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Search of something</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    <div id="page">
        <h1>Searching means everything</h1>
        <form id="searchForm" method="post">
            <fieldset>
                <input id="s" type="text" />
                <input type="submit" value="Submit" id="submitButton" />
            </fieldset>
        </form>
        <div id="resultsDiv"></div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="script.js"></script>
</body>
</html>